@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;

    --card: 0 0% 3%;
    --card-foreground: 0 0% 100%;

    --popover: 0 0% 3%;
    --popover-foreground: 0 0% 100%;

    --primary: 191 100% 50%;
    --primary-foreground: 0 0% 0%;

    --secondary: 346 100% 50%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 70%;

    --accent: 0 0% 15%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 0 0% 100%;

    --border: 191 100% 50%;
    --input: 191 100% 50%;
    --ring: 191 100% 50%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 0%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 191 100% 50%;
    --sidebar-primary-foreground: 0 0% 0%;
    --sidebar-accent: 0 0% 10%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 191 100% 50%;
    --sidebar-ring: 191 100% 50%;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.grid-cols-52 {
  grid-template-columns: repeat(52, minmax(0, 1fr));
}

html {
  scroll-behavior: smooth;
}
